[submodule "client"]
	path = client
	url = https://github.com/cRazyeye19/TinkingTin---Frontend.git
[submodule "server"]
	path = server
	url = https://github.com/cRazyeye19/TinkingTin---Backend.git
[submodule "socket"]
	path = socket
	url = https://github.com/cRazyeye19/TinkingTin--Socket.git
